<%= form_for @text_subject do |form| %>
  <%= form.text_area :body, placeholder: "Compose new text shout" %>
<%= form.submit "Send shout" %>
<% end %>

<%# <%= form_for @image_subject do |form| %>
<%#   <%= form.text_field :url, placeholder: "Enter image url" %>
<%# <%= form.submit "Send image shout" %>
<%# <% end %>

<ul>
  <li>I'm <%= link_to "following", :following %></li>
  <li><%= link_to "Followers", :followers %></li>
</ul>

<section class = shouts>
  <h2>Latest Shouts</h2>
  <div class = display_shouts>
    <ul>
      <%= render @timeline %> 
    </ul>
  </div>
</section>
