<section class="dashboard-container">

  <section class="forms">
    <div class="new-text-shout">
      <%= form_for @text_subject do |form| %>
        <%= form.label :body, "Compose new shout!" %>
        <%= form.text_area :body, placeholder: "your message here" %>
      <%= form.submit "Send shout" %>
    <% end %>
    </div>

    <div class="new-image-shout">
      <%= form_for @image_subject do |form| %>
        <%= form.label :url, "Make a new image shout!" %>
        <%= form.text_field :url, placeholder: "enter image url" %>
      <%= form.submit "Send image shout" %>
    <% end %>
    </div>

    <div class="search">
      <%= form_tag :search, method: "get" do %>
        <%= label_tag :username, "Search for users" %>
      <%= text_field_tag :username, params[:username], placeholder: "or leave blank to search all users" %>
      <%= submit_tag :Search %>
    <% end %>
    </div>

  </section>


  <section class="all-shouts-dash">
    <div class ="follow">
      <ul>
        <li><%= link_to "see who I'm following", :following %></li>
        <li><%= link_to "see who follows me", :followers %></li>
      </ul>
    </div>
    <div class="display-shouts-dash">
      <h3>Latest shouts from users you follow!</h3>
      <div class="pagination">
        <%= paginate @timeline %> 
      </div>
      <ul>
        <%= render @timeline %>
      </ul>
    </div>

    <div class="display-shouts-dash">
    <h3>Latest shouts from all users!</h3>
      <ul>
        <%= render @all_shouts %>
      </ul>
    </div>
    </section>
</section>
