<!DOCTYPE html>
<html>
<head>
  <title>Shoutr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  <p>You are signed in as,
  <%= link_to current_user.email, current_user %>
  </p>
  <%= button_to "Sign out", :session, method: :delete %>
<% else %>
  <p>New user? <%= link_to "Sign up!", sign_up_path %></p>
  <p>Otherwise,  <%= link_to "Sign in!", root_path %></p>
<% end %>

<%= yield %>

</body>
</html>
