<!DOCTYPE html>
<html>
<head>
  <title>Shoutr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="header">
<h1>Shoutr</h1>
<h2>make new friends</h2>
<h2>and yell at them</h2>
</section>
<% if signed_in? %>
  <p>Welcome, 
  <%= link_to current_user.username, current_user.username.to_param %>!
  </p>
  <%= button_to "Sign out", :session, method: :delete %>
<% else %>
  <p>New user? <%= link_to "Sign up!", sign_up_path %></p>
  <p>Otherwise,  <%= link_to "Sign in!", root_path %></p>
<% end %>

<%= yield %>

</body>
</html>
